<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>문의 등록</title>
</head>
<body>
<form method="post" th:action="@{/post/register}" enctype="multipart/form-data">
    제목<input type="text" name="title"/><br/>
    <input type="radio" id="상품문의" name="classification" value="상품문의"><label for="상품문의">상품문의</label><br/>
    <input type="radio" id="기타문의" name="classification" value="기타문의"/><label for="기타문의">기타문의</label><br/>
    내용<textarea name="content" rows="10" cols="80"></textarea><br/>
    <br/>
    <label>이미지</label>
    <input type="file" multiple="multiple" id="fileName" name="fileName"/><br />
    <input type="submit"/>
</form>
<input type="button" value="취소" onclick="history.back(-1)">
</body>
</html>
